:after, :before, * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[id^="mos-faq-"].mos-faq-container {
    margin-right: -15px;
    margin-left: -15px;
}
[id^="mos-faq-"].mos-faq-container:after, [id^="mos-faq-"].mos-faq-container:before {
    display: table;
    content: " ";
}
[id^="mos-faq-"].mos-faq-container:after {
    clear: both;
}
[id^="mos-faq-"] [class^="mos-faq-col-"] {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
}
[id^="mos-faq-"] .mos-faq-col-2 {
	width: 50%;
}
[id^="mos-faq-"] .mos-faq-col-3 {
	width: 33.33333333%;
}
[id^="mos-faq-"] .mos-faq-col-4 {
	width: 25%;
}
[id^="mos-faq-"] .mos-faq-col-5 {
	width: 20%;
}

[id^="mos-faq-"].mos-faq-container .mos-faq-unit {
	border-radius: 0;
	overflow: hidden;
}
[id^="mos-faq-"] .mos-faq-heading {
	padding: 0;
	background-color: transparent;
}
[id^="mos-faq-"] .mos-faq-heading .mos-faq-title a {
	display: block;
	text-decoration: none;
	box-shadow: none;
	outline: none;
}
[id^="mos-faq-"].mos-faq-container .mos-faq-title {
	margin: 0;
	position: relative;
}
[id^="mos-faq-"].mos-faq-container .mos-faq-title .mos-faq-icon-con {
	position: absolute;
	right: 0;
	top: 0;
}
[id^="mos-faq-"].mos-faq-container .mos-faq-title .mos-faq-icon-con i:last-child {
	display: none;
}
[id^="mos-faq-"].mos-faq-container .opened .mos-faq-title .mos-faq-icon-con i:last-child {
	display: inline-block;
}
[id^="mos-faq-"].mos-faq-container .opened .mos-faq-title .mos-faq-icon-con i:first-child {
	display: none;
}
[id^="mos-faq-"].mos-faq-container.mos-faq-block .mos-faq-title .mos-faq-icon-con {
	display: none;
}
.mos-faq-collapsible .mos-faq-title .mos-faq-icon-con,
.mos-faq-accordion .mos-faq-title .mos-faq-icon-con {
	cursor: pointer;
}
.mos-faq-accordion .mos-faq-collapse,
.mos-faq-collapsible .mos-faq-collapse {
	display: none;
}
@media (max-width: 991px) {
	[id^="mos-faq-"] [class^="mos-faq-col-"] {
		float: none;
	}
}